<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <nav class="shadow-lg">
      <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
        <a class="flex items-center" href="">
          <img class="h-9 mr-3" src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" alt="" />
          <span class="self-center text-ml font-semibold">Digital Marketplace</span>
        </a>
        <div class="flex items-center">
          <a href="" class="mr-6 text-sm font-medium text-grey-500">Dashboard</a>
          <a href="" class="mr-6 text-sm font-medium text-grey-500">Sales</a>
          <a href="" class="mr-6 text-sm font-medium text-grey-500">Orders</a>
          <a href="" class="mr-6 text-sm font-medium text-grey-500">Create Products</a>
          <a href="" class="mr-6 text-sm font-medium text-grey-500">My Purchases</a>
          <form method="post" action="{% url 'logout' %}" class="inline">
            {% csrf_token %}
            <button type="submit" class="mr-6 text-sm font-medium text-grey-500 bg-transparent border-none p-0 m-0 cursor-pointer">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    {% block body %}

    {% endblock %}
  </body>
</html>
