{% extends 'myapp/base.html' %}
{% load humanize %}
{% block body %}
  <h1>index page</h1>
  <div>
    <p>Yearly Expenses:{{ yearly_sum|intcomma }}</p>
    <p>Monthly Expenses:{{ monthly_sum|intcomma }}</p>
    <p>Weekly Expenses:{{ weekly_sum|intcomma }}</p>
  </div>
  <form action="" method="POST">
    <h2>Add Expense</h2>
    {% csrf_token %}
    <div>
      <label for="">Expense Name</label>
      {{ expense_form.name }}
    </div>
    <div>
      <label for="">Expense Amount</label>
      {{ expense_form.amount }}
    </div>
    <div>
      <label for="">Expense Category</label>
      {{ expense_form.category }}
    </div>
    <button type="submit">Add</button>
  </form>

  <div>
    <h1>Expenses</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.name }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount|intcomma }}</td>
            <td>
              <a href="{% url 'edit' expense.id %}">Modify</a>
            </td>
            <td>
              <form method="POST" action="{% url 'delete' expense.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ total_expenses|intcomma }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Daily sums</h2>
    <table id="daily-sums">
      <thead>
        <tr>
          <th>Date</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in daily_sums %}
          <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.sum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Category sums</h2>
    <table id="cat-table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in categorical_sums %}
          <tr>
            <td>{{ entry.category }}</td>
            <td>{{ entry.sum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
