{% extends 'myapp/base.html' %}
{% load humanize %}
{% block body %}
  <h1>index page</h1>
  <div>
    <p>Yearly Expenses:{{ yearly_sum|intcomma }}</p>
    <p>Monthly Expenses:{{ monthly_sum|intcomma }}</p>
    <p>Weekly Expenses:{{ weekly_sum|intcomma }}</p>
  </div>
  <form action="" method="POST">
    <h2>Add Expense</h2>
    {% csrf_token %}
    <div>
      <label for="">Expense Name</label>
      {{ expense_form.name }}
    </div>
    <div>
      <label for="">Expense Amount</label>
      {{ expense_form.amount }}
    </div>
    <div>
      <label for="">Expense Category</label>
      {{ expense_form.category }}
    </div>
    <button type="submit">Add</button>
  </form>

  <div>
    <h1>Expenses</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.name }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount|intcomma }}</td>
            <td>
              <a href="{% url 'edit' expense.id %}">Modify</a>
            </td>
            <td>
              <form method="POST" action="{% url 'delete' expense.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ total_expenses|intcomma }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Daily sums</h2>
    <table id="daily-sums">
      <thead>
        <tr>
          <th>Date</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in daily_sums %}
          <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.sum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Category sums</h2>
    <table id="cat-table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Total Sales</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in categorical_sums %}
          <tr>
            <td>{{ entry.category }}</td>
            <td>{{ entry.sum }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <div>
      <canvas id="myChart1"></canvas>
    </div>
  </div>
  <script>
    const categories = []
    const expenses = []
    const catSumDiv = document.getElementById('cat-table').getElementsByTagName('td')
    
    for (i = 0; i < catSumDiv.length; i++) {
      if (i % 2 == 0) {
        categories.push(catSumDiv[i].innerText)
      } else {
        expenses.push(catSumDiv[i].innerText)
      }
    }
    console.log('categories', categories)
    console.log('expenses', expenses)
    
    const ctx = document.getElementById('myChart')
    
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: categories,
        datasets: [
          {
            label: 'Expenses',
            data: expenses,
            borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })
    
    const dates = []
    const daily_expenses = []
    const dailySumDiv = document.getElementById('daily-sums').getElementsByTagName('td')
    
    for (i = 0; i < dailySumDiv.length; i++) {
      if (i % 2 == 0) {
        dates.push(dailySumDiv[i].innerText)
      } else {
        daily_expenses.push(dailySumDiv[i].innerText)
      }
    }
    console.log('date', dates)
    console.log('daily expenses', daily_expenses)
    const ctx1 = document.getElementById('myChart1')
    
    new Chart(ctx1, {
      type: 'line',
      data: {
        labels: dates,
        datasets: [
          {
            label: 'Expenses',
            data: daily_expenses,
            borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })
  </script>
{% endblock %}
