<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white w-full max-w-4xl mx-auto shadow-lg rounded-lg p-10 my-10 border border-gray-300">
      <!-- Header section starts here -->
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800">{{ user_profile.name }}</h1>
        <p class="text-lg text-gray-600">{{ user_profile.email }} | {{ user_profile.phone }}</p>
      </div>
      <!-- Header section ends here -->
      <!-- Education section begins here -->
      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Education</h2>
        <p>
          <span class="font-bold">Degree:</span> {{ user_profile.degree }}
        </p>
        <p>
          <span class="font-bold">School:</span> {{ user_profile.school }}
        </p>
        <p>
          <span class="font-bold">University:</span> {{ user_profile.university }}
        </p>
      </div>
      <!-- Education section ends here -->
      <!-- Summary section starts here -->
      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Professional Summary</h2>
        <p class="text-gray-700 leading-relaxed">{{ user_profile.summary }}</p>
      </div>
      <!-- Summary section ends here -->
      <!-- Work experince section starts here -->
      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Work Experience</h2>
        <p class="text-gray-700 leading-relaxed">{{ user_profile.previous_work }}</p>
      </div>
      <!-- Work exoeruebce section ends here -->
      <!-- Skills section starts here -->
      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Skills</h2>
        <p class="text-gray-700 leading-relaxed">{{ user_profile.skills }}</p>
      </div>
      <!-- Skills section ends here -->

      <!-- Print and back button section starts here -->
      <div class="text-center">
        <button onclick="window.print()" class="bg-blue-600 text-white px-6 py-2 rounded-md shadow">Print CV</button>
        <a class="bg-gray-600 text-white px-6 py-2 rounded-md shadow">Download Resume</a>
        <a class="bg-gray-600 text-white px-6 py-2 rounded-md shadow" href="">Back to home</a>
      </div>
      <!-- Print and back button section ends here -->
    </div>
  </body>
</html>
